@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Poppins:ital,wght@0,300;0,400;1,500&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
h1{
    font-size:50px;
}
#banner-container{
    display:flex;
}
.half-wrap h1{
    line-height:2em;
}
.half-wrap h3{
    line-height: 3em;
}
.half-wrap p{
    line-height: 1.5em;
}
.text-clr{
    color:orangered;
}
.half-wrap{
    width:50%;
    padding-left:40px;
    padding-right:40px;
}
.half-wrap img{
    width: 90%;
}
